*{
    margin: 0;
    padding: 0;
}

:root{
    font-family: Helvetica,sans-serif;
    font-size: 16px;
}
.Grass{
    background-color: #9bcc50;
}
.Fire{
    background-color: #fd7d24;
}
.Water{
    background-color: #4592c4;
}
.Bug{
    background-color: #729f3f;
}
.Normal{
    background-color: #a4acaf;
}
.Poison{
    background-color: #b97fc9;
}
.Electric{
    background-color: #eed535;
}
.Ground{
    background-color: #625814;
}
.Fighting{
    background-color: #d56723;
}
.Psychic{
    background-color: #f366b9;
}
.Rock{
    background-color: #5b5b5b;
}
.Ghost{
    background-color: #7b62a3;
}
.Dark{
    background-color: #707070;
}
.Ice{
    background-color: #51c4e7;
}
.Steel{
    background-color: #95aaaa;
}
.Fairy{
    background-color: #fdb9e9;
}
.Dragon{
    background-color: #f16e57;
}
.Flying{
    background-color: #bdb9b8;
}

main{
    margin: 0;
    padding: 0;
    background-color: #dc0a2d;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
section{
    background-color: whitesmoke;
    box-shadow: black;
    border-radius: 0.75rem;
    min-height: calc(80% - 30px);
    width: calc(100% - 1rem);
    
    overflow-y: auto;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 30px;
}
.previewAllPokemons{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 0.5rem;
}



