*{
    margin: 0;
    padding: 0;
}

:root{
    font-size: 16px;
}
.Grass{
    background-color: #9bcc50;
}
.Fire{
    background-color: #fd7d24;
}
.Water{
    background-color: #4592c4;
}
.Bug{
    background-color: #729f3f;
}
.Normal{
    background-color: #a4acaf;
}
.Poison{
    background-color: #b97fc9;
}
.Electric{
    background-color: #eed535;
}
.Ground{
    background-color: #625814;
}
.Fighting{
    background-color: #d56723;
}
.Psychic{
    background-color: #f366b9;
}
.Rock{
    background-color: #5b5b5b;
}
.Ghost{
    background-color: #7b62a3;
}
.Dark{
    background-color: #707070;
}
.Ice{
    background-color: #51c4e7;
}
.Steel{
    background-color: #95aaaa;
}
.Fairy{
    background-color: #fdb9e9;
}
.Dragon{
    background-color: #f16e57;
}
.Flying{
    background-color: #bdb9b8;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: antiquewhite;
    width: 100vw;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    z-index: 1;
}
header img{
    margin-left: 20px;
    width: 50px;
    height: 50px;
}
main{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}
section{
    margin-top: 70px;
    margin-bottom: 40px;
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    overflow-x: hidden;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 30px;
    background-color: antiquewhite;
}



