.pokemonPreviewCard{
    width: 150px;
    height: 150px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 5px;
    gap: 5px;
    box-shadow: 0 16px 31px -17px rgba(2, 17, 49, 0.6);
    transform: scale(1);
    transition: 0.5s;
    background: linear-gradient(rgb(225, 225, 225), grey);
}
.pokemonPreviewCard:hover{
    transform: scale(1.05);
    transition: 0.5s;
}
.pokemonImage{
    width: 100px;
    height: 100px;
}
@media only screen and (min-width: 800px) {
    .pokemonPreviewCard{
        width: 200px;
        height: 200px;
        border-radius: 20px;
        padding: 10px;
    }
    .pokemonImage{
        width: 130px;
        height: 130px;
    }
}

@media only screen and (min-width: 1100px) {
    .pokemonPreviewCard{
        width: 300px;
        height: 300px;
        border-radius: 20px;
        padding: 15px;
    }
    .pokemonImage{
        width: 250px;
        height: 250px;
    }
}